/* * {
    box-sizing: border-box;
} */
:root {
    --light: rgb(37, 136, 223);
    --dark: rgb(47, 24, 142);
}

header {
    height: 35px;
    padding: 25px;

}

nav ul{
    
    display: flex;
    justify-content: space-between;
}

nav ul li {
    font-size: 150%;
    color:var(--dark);
    
}


body {
    background-color: rgb(219, 219, 247);
    line-height: 1.5;
    justify-content: space-between;
    
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 150%;
}

p {
    font-size: 120%;
}

main {
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    justify-content: space-between;
    border: 2px solid var(--dark);
    padding: 60px;
    margin: auto;
    box-shadow: 0 0 10px 2px;
    max-width: 400px;
    
}

button {
    margin: 10px 0;
    color: white;
    padding: 5px 10px;
    background-color: var(--light);
    border: 2px solid var(--dark);
    border-radius: 5px;
    justify-content: center;
    
}

button:hover {
    cursor: pointer;
    background-color: var(--dark);
}

.hide {
    display: none;
}
.start-button {
    padding: 20px 30px;
   

}
